.logo {
		border : 1px solid blue;
		}




 #tocbutton {
        position : fixed ;
        top : 120px;
         right : 4px;
        width : 48px;
        height : 48px;
        z-index: 1000;
        font-size: 32px;
        }
        
#alphabutton {
        position : fixed ;
        top : 500px;
       right : 4px;
        width : 48px;
        height : 48px;
        z-index : 1000;
         font-size: 32px;
         font-family: Verdana, courier, monospace;
        }
        
#palette {
        position : fixed ;
        top : 40px;
        right : 14px;
        z-index : 1000;
        }
        
#mail {
        position : fixed ;
        top : 620px;
        right : 4px;
        z-index : 1000;
        font-size: 32px;
        width : 48px;
        height : 48px;
        }
        
    pre i  {
    background-color : #ffffff;
    font-style : normal;
    color : SlateGray ;
    }
     
    a:link {
    color: blue;
    text-decoration: none;
	}

	a:hover {
    color: orange;
    text-decoration: none;
	}

	ul {
	margin-left: 40px;
	font-family:  Verdana, courier, monospace; 
	}

	ul.a {list-style-type: circle;}
        
        h1 {
        font-family: Helvetica,sans-serif;
        font-size : 1.4em;
        background-color :  #79D9E8 ; 
        border-bottom :  thick solid  #444444 ;
        padding-top: 0.4em;
        }
        
        h2 {
        font-family: Helvetica,sans-serif;
        font-size : 1.2em;
        font-style : normal;
        font-weight : normal;
        background-color :#9BD9E8 ;
        border-bottom :  thin solid  #888888 ;
        margin-left : 20px;
        padding-top: 0.3em;
        padding-left:0.5em;
        }
        
        h3 {
        font-family: Helvetica,sans-serif;
        font-size : 1.1em;
        background-color :  #dddddd ; /*#B3D9E8 ;*/
        border-bottom :  thin solid  #888888 ;
        font-weight : normal;
        margin-left: 40px;
        padding-top: 0.2em;
        padding-left:0.5em;
        }
        
        h4 {
        font-family:  courier,monospace; 
        font-size : 1em;
        font-weight :normal;
        margin-left: 40px;
        margin-top:2px;
        margin-bottom:2px;
        padding-left:0.5em;
        }
       
        body {
            background-color: #FFFFFF;
            font-family: Helvetica,sans-serif;
            color : black;
        }
        
        p {
             margin-left : 40px;
             padding-left:0.5em;
             font-family: Verdana,courier,monospace; 
             text-indent : 40px;
        }
        
        table {
    		border-spacing: 10px;
    		 margin-left : 10%;
            margin-right : 10%;
            width : 80% ;
            max-width : 80%;
            padding-left:0.5em;
            font-family: Verdana,courier,monospace; 
            font-size : 0.8em;
             border: 1px solid black;
			}
			
		tr {
			height : 12px;
			}
        
        a {
                color: blue;
                font-size : 1em;
        }
   
pre {
            font-family: Verdana,courier,monospace;
            font-size: 1em;
            border-left : 2px solid #B0B0B0 ; /*lightblue ; */
           
   white-space: pre-wrap;

    word-wrap: break-word;
            margin-left : 10%;
            margin-right : 10%;
            width : 80% ;
            max-width : 80%;
            padding: 1em 1em 1em 1em;
            /* background: #ffeedd; // #fff7f0; */
        }
        
.alpha {
		margin-left : -20px;
		font-size:1.2em;
		font-weight :bold;
		}
        
/* FOOTER */
.footer {
	clear : both;
	font-family:  Verdana, Arial, Helvetica, sans-serif; 
	font-size :  0.7em ; 
	margin-left : 0px;
	}
	
/* SPECIALS */
.matrix {
    position: relative;
    font-size:1em;
    border : none;
    width: auto;
}

.matrix,tr {height:auto;}
.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 2px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}


